header{
    height: 100px;
  background-color: red;  
}

aside{
    background-color: yellow;
    float: left;
    height: 300px;
    width: 30%;
}
main{
    float:left;
    background-color: blue;
    height: 600px;
    width: 70%;
}

footer{
    clear-left;
    background-color: green;
    height: 200px;
}