*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins';
}

.container{
    width: 1280px;
    margin:auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    paddding: 20px 50px;
}

.left-side{
    color:white;
}
.left-side,
.right-side{
    width: 50%;
}

.left-side h1{
    font-size: 50px;
}

.right-side > .message{
background: hsl(248, 32%, 49%);
padding: 10px 20px;
text-align: center;
border-radius: 7px;
font-size: 14px;
color: white;
}

form{
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    border-radius: 7px;
}

.input-group {
    width: 100%;
    margin-top: 20px;
}
.input-group input{
    width: 100%;
    padding: 15px;
    boreder: 1px solid hsl(246, 25%, 77%);
}

input:active,
input:focus{
outline: 1px solid  hsl(248, 32%, 49%);
}

.input::placeholder{
    font-size: 17px;
    font-family: 'Poppins';
}

.input-group .messege{
color:hsl(0, 100%, 74%);
font-size: 14px;
display: none;
}

button{
    background-color:hsl(154, 59%, 51%);
    margin-top: 10px;
    margin-bottom: 10px;;
    text-transform: uppercase;
    padding: 15px 20px;
    font-family: 'Poppins';
    font-weight:500;
    width: 100%;
    height: 100%;
    border-color: gray;
    box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.2);

}

form > .message{
    font-size: 14px;
    color: hsl(246, 25%, 77%);
    text-align:center;
    margin-top:10px;
}

form > .message a{
    text-decoration: none;
    color:hsl(0, 100%, 74%);
}

.input-group.error input{
    border: 1px solid hsl(0, 100%, 74%);
}

.input-group.error input::placeholder{
    color: hsl(0, 100%, 74%);
}

.input-group.error .message{
    display:block;
}