*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
    background-image: url("./background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color :white;
    height:100vh;
}

.key-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.key{
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    padding: 10px 5px;
    width: 100px;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

kbd{
   display: block;
   font-size: 40px;
}

.sound{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(247,203,5);
}